{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Qubits Capstone Project{% endblock %}</title>

    <!-- Bootstrap CSS and JavaScript -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet", href="{% static 'css/styles.css'%}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ER Triage</a>
            <!--  https://getbootstrap.com/docs/5.3/components/navbar/#nav  -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'patient_intake' %}">Patient Intake</a>
                <a class="nav-link" href="{% url 'shift' %}">Shift Info</a>
                <a class="nav-link" href="{% url 'nurse_workload' %}">Nurse Workload</a>
            </div>
        </div>

    </nav> 

    <!-- 
<header>
    <nav class="navbar">
        <a href="#" class="nav-logo">
        <h2 class="logo" > ⚕️QUBITS </h2>
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'patient_intake' %}">Patient Intake</a>
            <a class="nav-link" href="{% url 'shift' %}">Shift Info</a>
            <a class="nav-link" href="{% url 'nurse_workload' %}">Nurse Workload</a>
        </a>
    </nav>    
</header>
-->
    <!-- Messages -->
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>  
    {% endfor %}
    <!-- Main content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
